USE [RSRpt]
GO
/****** Object:  StoredProcedure [GIV3].[spMTWklyClmUnreadMessageInsert]    Script Date: 6/6/2025 4:48:26 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================================================================================================
Author:  AYE NYEIN BO                   
Create date: 19-11-2013                        
Description: To run BI-WEEKLY(1 AND 16 of Every Month) extraction data to the temp table GIV3.RptMTWklyClmUnreadMessage                       
========================================================================================                        
ModDate          By          Description           
02-01-2013		NyeinBo		Include another section HOS (Peh Chee Keong - S011947)
19-01-2015		Veranica	enhancement, to change Section and Rank, retrieved from GIV3.RptMTWklyClmUnreadMessageSupervisor  
11-04-2017		Lilie		to change to trigger job on the 1st, 8th, 16th and 23rd of each month
							to clean up data that has been inserted for past 12 months; if not, GIV3.RptMTWklyClmUnreadMessage would grow unlimited

30-08-2017		Lilie		to take all records from t_clm_message regardless have corresponding records in bv_ClmCase/bv_ClmObject
							link to Giv3.t_clm_siu_file to get File investigation No  
02-10-2020      Nandar      to enhance extraction logic whereby party role=1 for the same party with roles in GI t_user table to get actual staff code and remove duplications
09-11-2020      Nandar      to enhance extraction logic whereby party role=1 for self join of t_user table under CRQ000000096221
  
exec GIV3.spMTWklyClmUnreadMessageInsert
exec GIV3.spMTWklyClmUnreadMessageInsert '02-JAN-2015' 
----------------------------------------------------------------------------------------------------------------------------------*/
ALTER   PROCEDURE [GIV3].[spMTWklyClmUnreadMessageInsert](@RunDate as DateTime = null)                        
AS                        
BEGIN                        
                        
 SET NOCOUNT ON;                 
  
  
 DECLARE @Rpttimestamp DATETIME                
 IF @RunDate IS NULL SET @RunDate = GETDATE()                    
              
  ----For Recovery-------------                          
 --IF (DAY(@Rundate) >= '16' ) -- between 16-end of the month, to extract data from 1st â€“ 15th                
 --BEGIN                       
 -- SET @Rpttimestamp =  LEFT(CONVERT(VARCHAR,@RunDate,112),6) + '16'            
 --END                      
                  
 --IF (DAY(@Rundate) <= '15' ) -- between 1-15 of the month, to extract 1st â€“ end of previous month          
 --BEGIN                            
 -- SET @Rpttimestamp = LEFT(CONVERT(VARCHAR,@RunDate,112),6) + '01'              
 --END                  
  

  -- added 11Apr2017 ---  
  /*
  to run on 1st, 8th, 16th and 23rd of each month
  1st -> 1-7
  8th -> 8-15
  16th -> 16-22
  23 -> 23-lastday of month
  */
 IF (DAY(@Rundate) BETWEEN 1 and 7) -- to extract data up to 1st
	SET @Rpttimestamp =  LEFT(CONVERT(VARCHAR,@RunDate,112),6) + '01'            
 
 IF (DAY(@Rundate) BETWEEN 8 and 15) -- to extract data up to 8th
	SET @Rpttimestamp =  LEFT(CONVERT(VARCHAR,@RunDate,112),6) + '08'            

 IF (DAY(@Rundate) BETWEEN 16 and 22) -- to extract data up to 16th
	SET @Rpttimestamp =  LEFT(CONVERT(VARCHAR,@RunDate,112),6) + '16'            

 IF (DAY(@Rundate) BETWEEN 23 and 31) -- to extract data up to 23rd
	SET @Rpttimestamp =  LEFT(CONVERT(VARCHAR,@RunDate,112),6) + '23'    
	

  --clean up data inserted > 12 months
  DELETE FROM GIV3.RptMTWklyClmUnreadMessage
  WHERE DATEDIFF(mm,RptTimeStamp, GETDATE()) > 12                  
  -- end 11Apr2017 ---


               
 ----------Delete previous record which run same date           
 DELETE FROM GIV3.RptMTWklyClmUnreadMessage WHERE DATEDIFF(DD,RptTimeStamp,@Rpttimestamp) = 0          
    
 SELECT DISTINCT                    
 us.user_id,    
 -- modified on 19-01-2015     
 /* CASE 
 WHEN ussup.user_name = 'S011947' THEN 'HOS' --Peh Chee Keong                  
 WHEN ussup.user_name = 's084958' THEN 'TPI' -- Eric Chern                    
 WHEN ussup.user_name = 's000903' THEN 'TPD' -- Jenny Pe                    
 WHEN ussup.user_name = 's000314' THEN 'PAYMENT & RECOVERY' -- Jane Soh   
 WHEN ussup.user_name = 's001083' THEN 'OD' -- Eddie Loke                    
 ELSE 'OTHERS' END Section     */
 case when rpt.SupervisorCode IS NULL then 'OTHERS' else rpt.Section end as Section
 -- modified on 19-01-2015                     
 , UPPER(us.[User_Name]) OfficerCode                    
 , UPPER(us.Real_Name) OfficerName                    
 , UPPER(ussup.[User_Name]) SuperiorCode                    
 , UPPER(ussup.Real_Name) SuperiorName      
 -- modified on 19-01-2015     
 /*         
 ,  CASE WHEN ussup.user_name = 'S011947' THEN '1' -- Peh Chee Keong                  
 WHEN ussup.user_name = 's084958' THEN '2' -- Eric Chern                  
 WHEN ussup.user_name = 's000903' THEN '3' -- Jenny Pe       
 WHEN ussup.user_name = 's000314' THEN '4' -- Jane Soh                
 WHEN ussup.user_name = 's001083' THEN '5' -- Eddie Loke             
 ELSE '6' END Rank        
 */  
 , [Rank] = case when rpt.SupervisorCode IS NULL then (( select max(RankOrder) from GIV3.RptMTWklyClmUnreadMessageSupervisor ) + 1) else rpt.RankOrder end 
  -- modified on 19-01-2015     
 into #tmpofficer         
 FROM giv3.t_user us     
 INNER JOIN giv3.t_pty_indi emp on emp.pty_id = us.party_id                   
 INNER JOIN giv3.t_ptyr er  ON  emp.pty_id = er.pty_id                    
 INNER JOIN giv3.t_ptyr_rela re  ON er.ptyr_id = re.from_ptyr_id                  
 INNER JOIN giv3.t_ptyr sr on  re.to_ptyr_id = sr.ptyr_id                       
 INNER JOIN giv3.t_pty_indi sup on sr.pty_id = sup.pty_id                      
 INNER JOIN giv3.t_pty_employee e  ON er.ptyr_id = e.ptyr_id                    
 INNER JOIN giv3.v_pty_dept_org dept ON us.dept_id = dept.dept_id     
 INNER JOIN giv3.t_user ussup ON sup.pty_id = ussup.party_id   
 LEFT OUTER JOIN GIV3.RptMTWklyClmUnreadMessageSupervisor rpt on rpt.SupervisorCode = ussup.User_Name and rpt.STATUS = 'A' -- added 19-01-2015                  
 WHERE re.relation_type = 57               
 and er.ptyr_type = 1 -- employee                    
 and er.ptyr_status = 1                    
 and e.employee_status = 1 -- employee status is valid                
 and re.status = 1 -- relation status = valid          
 and deptteam_code = 'MT'   
 and us.party_role='1'  -- to get actual staff code
 and ussup.PARTY_ROLE='1' -- to get actual staff code of self join in t_user table
    


 SELECT DISTINCT                    
 a.case_id CaseId                    
 , a.Object_id ObjectId                               
 , CASE WHEN a.object_id IS NOT NULL THEN clm.Claimno + '-' + obj.Seqno ELSE fl.investigation_no END ClaimNo		-- modified 30Aug2017 if objectid is null take in investigation No
 , a.Message_Subject MessageSubject                 
 , a.Is_Read MessageReadFlag                    
 , a.Create_Date MessageCreateDate                    
 , CASE WHEN a.ext_field0 =  1 THEN 'LOW'                    
   WHEN a.ext_field0 =  2 THEN 'NORMAL'                     
   WHEN a.ext_field0 =  3 THEN 'HIGH' ELSE UPPER(a.ext_field0) END MessageUrgency                    
 , obj.ClaimTypeDesc                      
 , t.Section                     
 , t.OfficerCode                    
 , t.OfficerName                    
 , t.SuperiorCode                    
 , t.SuperiorName               
 , DATEDIFF(DD,a.Create_Date,@Rpttimestamp) AgingDays              
 , t.Rank                
 ,MessageID = a.Message_ID        
 
 INTO #tmpmessage    
  
 FROM Giv3.t_clm_message A    
 INNER JOIN #tmpofficer t ON a.assign_to = T.user_id          
 LEFT OUTER JOIN giv3.bv_clmcase clm ON a.case_id = clm.caseid                 
 LEFT OUTER JOIN giv3.bv_clmobject obj ON a.object_id = obj.objectid                                 
 LEFT OUTER JOIN giv3.t_clm_siu_file fl ON A.ext_field5 = fl.file_id		-- added 30Aug2017

 where datediff(dd,a.Create_Date,@Rpttimestamp) > 0       
    


 INSERT INTO GIV3.RptMTWklyClmUnreadMessage    
 SELECT caseid,objectid,claimno,messagesubject,messagereadflag,messagecreatedate,messageurgency,claimtypedesc    
    ,section,officercode,officername,superiorcode,superiorname,agingdays,rank,@RpttimeStamp,MessageID    
    FROM #tmpmessage    
    UNION ALL    
 SELECT null,null,null,null,null,null,null,null,section,officercode,officername,superiorcode,superiorname,null,rank,@RptTimestamp,Null     
 from #tmpofficer    
 where officername not in(select distinct officername from #tmpmessage)    
               
END 





